<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.portal.dao.elasticcalc.gce.IEcGcePackageDao">
	<resultMap id="BaseResultMap" type="EcGcePackage">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="VERSION" property="version" jdbcType="VARCHAR" />
		<result column="DESCN" property="descn" jdbcType="VARCHAR" />
		<result column="SUFFIX" property="suffix" jdbcType="VARCHAR" />
		<result column="BUCKETNAME" property="bucketName" jdbcType="VARCHAR" />
		<result column="KEY" property="key" jdbcType="VARCHAR" />
		<result column="PORT_FORWARD" property="portForward" jdbcType="VARCHAR" />
		<result column="GCE_ID" property="gceId" jdbcType="BIGINT" />
		<result column="GCECLUSTER_ID" property="gceclusterId"
			jdbcType="BIGINT" />
		<result column="GCE_IMAGE_NAME" property="gceImageName"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="TINYINT" />
		<result column="DELETED" property="deleted" jdbcType="TINYINT" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
		<result column="UPDATE_USER" property="updateUser" jdbcType="BIGINT" />
        <association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
	</resultMap>
	<resultMap id="ConnContainerResultMap" type="EcGcePackage">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="VERSION" property="version" jdbcType="VARCHAR" />
		<result column="DESCN" property="descn" jdbcType="VARCHAR" />
		<result column="SUFFIX" property="suffix" jdbcType="VARCHAR" />
		<result column="BUCKETNAME" property="bucketName" jdbcType="VARCHAR" />
		<result column="KEY" property="key" jdbcType="VARCHAR" />
		<result column="PORT_FORWARD" property="portForward" jdbcType="VARCHAR" />
		<result column="GCE_ID" property="gceId" jdbcType="BIGINT" />
		<result column="GCECLUSTER_ID" property="gceclusterId"
			jdbcType="BIGINT" />
		<result column="GCE_IMAGE_NAME" property="gceImageName"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="TINYINT" />
		<result column="DELETED" property="deleted" jdbcType="TINYINT" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
		<result column="UPDATE_USER" property="updateUser" jdbcType="BIGINT" />
		<association property="createUserModel" javaType="User">
			<result column="USERNAME" property="userName" />
		</association>
		<association property="ecGceImage" javaType="EcGceImage">    
            <id column="ID" property="id" jdbcType="BIGINT" />
            <result column="URL" property="url" jdbcType="VARCHAR" />
		</association>
		<collection property="containers" column="GCE_PACKAGE_ID" ofType="EcGceContainer">    
            <id column="ID" property="id" jdbcType="BIGINT" />
            <result column="IP_ADDR" property="ipAddr" jdbcType="VARCHAR" />
            <result column="BIND_HOST_PORT" property="bindHostPort" jdbcType="VARCHAR" />
        </collection>
	</resultMap>
	<sql id="Base_Column_List">
		pack.ID, pack.VERSION,pack.DESCN, pack.SUFFIX, pack.BUCKETNAME, pack.KEY,
		pack.PORT_FORWARD, pack.GCE_ID,
		pack.GCECLUSTER_ID, pack.GCE_IMAGE_NAME,
		pack.STATUS,
		pack.DELETED, pack.CREATE_TIME, pack.UPDATE_TIME, pack.CREATE_USER, pack.UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and pack.ID=#{id}
			</if>
			<if test="version != null  and version != '' and version != 'null'">
				and pack.VERSION=#{version}
			</if>
			<if test="gceId != null and gceId != '' ">
				and pack.GCE_ID=#{gceId}
			</if>
			<if test="descn != null and descn != '' ">
				and pack.DESCN=#{descn}
			</if>
			<if test="createUser != null and createUser != '' ">
				and pack.CREATE_USER=#{createUser}
			</if>
		</trim>
	</sql>
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and pack.ID=#{params.id}
			</if>
			<if test="params != null and params.version != null  and params.version != ''">
				and pack.VERSION=#{params.version}
			</if>
			<if test="params != null and params.gceId != null  and params.gceId != ''">
				and pack.GCE_ID=#{params.gceId}
			</if>
			<if test="params != null and params.descn != null  and params.descn != ''">
				and pack.DESCN=#{params.descn}
			</if>
			<if test="params != null and params.createUser != null  and params.createUser != ''">
				and pack.CREATE_USER=#{params.createUser}
			</if>
		</trim>
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />,u.USERNAME
		from EC_GCE_PACKAGE pack
		left join WEBPORTAL_USER u on pack.CREATE_USER = u.ID
		where pack.ID = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />,u.USERNAME
		from EC_GCE_PACKAGE pack
		left join WEBPORTAL_USER u on pack.CREATE_USER = u.ID
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="ConnContainerResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />,container.id,container.IP_ADDR,container.BIND_HOST_PORT,u.USERNAME,image.id,image.URL
		from EC_GCE_PACKAGE pack
		left join 
			WEBPORTAL_USER u 
		on pack.CREATE_USER = u.ID
		LEFT JOIN
			EC_GCE_CONTAINER container
		ON 
		  container.GCE_PACKAGE_ID = pack.ID 
		  AND container.GCE_ID = pack.GCE_ID 
		LEFT JOIN
			EC_GCE_IMAGE image
		on
		  image.GCE_PACKAGE_ID = pack.ID 
		  AND image.GCE_ID = pack.GCE_ID 
		<include refid="Example_Page_Where_Clause" />
		ORDER BY pack.CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from EC_GCE_PACKAGE pack
		<include refid="Example_Page_Where_Clause" />
	</select>
	<insert id="insert" parameterType="EcGcePackage"
		useGeneratedKeys="true" keyProperty="id">
		insert into `EC_GCE_PACKAGE`
		(
		`VERSION`,
		`DESCN`,
		`SUFFIX`,
		`BUCKETNAME`,
		`KEY`,
		`PORT_FORWARD`,
		`GCE_ID`,
		`GCECLUSTER_ID`,
		`GCE_IMAGE_NAME`,
		`STATUS`,
		`DELETED`,
		`CREATE_TIME`,
		`UPDATE_TIME`,
		`CREATE_USER`,
		`UPDATE_USER`
		)
		values
		(#{version,jdbcType=VARCHAR},
		#{descn,jdbcType=VARCHAR},
		#{suffix,jdbcType=VARCHAR},
		#{bucketName,jdbcType=VARCHAR},
		#{key,jdbcType=VARCHAR},
		#{portForward,jdbcType=VARCHAR},
		#{gceId,jdbcType=BIGINT},
		#{gceclusterId,jdbcType=BIGINT},
		#{gceImageName,jdbcType=VARCHAR},
		#{status,jdbcType=TINYINT},
		#{deleted,jdbcType=TINYINT},
		now(),
		#{updateTime,jdbcType=TIMESTAMP},
		#{createUser,jdbcType=BIGINT},
		#{updateUser,jdbcType=BIGINT}
		)
	</insert>
	<!-- 更新记录 -->
	<update id="update" parameterType="EcGcePackage">
		update `EC_GCE_PACKAGE`
		set
		`VERSION` = #{version,jdbcType=VARCHAR},
		`DESCN` = #{descn,jdbcType=VARCHAR},
		`SUFFIX` =
		#{suffix,jdbcType=VARCHAR},
		`BUCKETNAME` =
		#{bucketName,jdbcType=VARCHAR},
		`KEY` = #{key,jdbcType=VARCHAR},
		`PORT_FORWARD` = #{portForward,jdbcType=VARCHAR},
		`GCE_ID` =
		#{gceId,jdbcType=BIGINT},
		`GCECLUSTER_ID` =
		#{gceclusterId,jdbcType=BIGINT},
		`GCE_IMAGE_NAME` =
		#{gceImageName,jdbcType=VARCHAR},
		`STATUS` =
		#{status,jdbcType=TINYINT},
		`DELETED` = #{deleted,jdbcType=TINYINT},
		`UPDATE_TIME` = now(),
		`UPDATE_USER` =
		#{updateUser,jdbcType=BIGINT}
		where `ID` =#{id}
	</update>
	<update id="updateBySelective" parameterType="EcGcePackage">
		update `EC_GCE_PACKAGE`
		<set>
			<if test="version != null  ">
				`VERSION` = #{version,jdbcType=VARCHAR},
			</if>
			<if test="descn != null  ">
				`DESCN` = #{descn,jdbcType=VARCHAR},
			</if>
			<if test="suffix != null  ">
				`SUFFIX` = #{suffix,jdbcType=VARCHAR},
			</if>
			<if test="bucketName != null  ">
				`BUCKETNAME` = #{bucketName,jdbcType=VARCHAR},
			</if>
			<if test="key != null  ">
				`KEY` = #{key,jdbcType=VARCHAR},
			</if>
			<if test="portForward != null  ">
				`PORT_FORWARD` = #{portForward,jdbcType=VARCHAR},
			</if>
			<if test="gceId != null ">
				`GCE_ID` = #{gceId,jdbcType=BIGINT},
			</if>
			<if test="gceclusterId != null ">
				`GCECLUSTER_ID` = #{gceclusterId,jdbcType=BIGINT},
			</if>
			<if test="gceImageName != null  ">
				`GCE_IMAGE_NAME` = #{gceImageName,jdbcType=VARCHAR},
			</if>
			<if test="status != null  ">
				`STATUS` = #{status,jdbcType=TINYINT},
			</if>
			<if test="deleted != null  ">
				`DELETED` = #{deleted,jdbcType=TINYINT},
			</if>
			`UPDATE_TIME` = now(),
			<if test="updateUser != null  ">
				`UPDATE_USER` = #{updateUser,jdbcType=BIGINT}
			</if>
		</set>
		where `ID` =#{id}
	</update>
</mapper>