<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.portal.dao.elasticcalc.gce.IEcGceDao">
	<resultMap id="BaseResultMap" type="EcGce">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="GCE_NAME" property="gceName" jdbcType="VARCHAR" />
		<result column="DESCN" property="descn" jdbcType="VARCHAR" />
		<result column="AREA_ID" property="areaId" jdbcType="BIGINT" />
		<result column="HCLUSTER_ID" property="hclusterId" jdbcType="BIGINT" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="LOG_ID" property="logId" jdbcType="BIGINT" />
		<result column="MEMORY_SIZE" property="memorySize" jdbcType="BIGINT" />
		<result column="INSTANCE_NUM" property="instanceNum" jdbcType="TINYINT" />
		<result column="STATUS" property="status" jdbcType="TINYINT" />
		<result column="DELETED" property="deleted" jdbcType="TINYINT" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_USER" property="createUser" jdbcType="BIGINT" />
		<result column="UPDATE_USER" property="updateUser" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, GCE_NAME, DESCN, AREA_ID, HCLUSTER_ID, TYPE, LOG_ID,
		MEMORY_SIZE,
		INSTANCE_NUM,
		STATUS, DELETED, CREATE_TIME, UPDATE_TIME,
		CREATE_USER, UPDATE_USER
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null  ">
				and ID=#{id}
			</if>
			<if test="gceName != null  and gceName != '' and gceName != 'null'">
				and GCE_NAME like CONCAT('%',#{gceName},'%') escape '^'
			</if>
			<if test="descn != null and descn != ''">
				and DESCN=#{descn}
			</if>
			<if test="areaId != null and areaId != ''  ">
				and AREA_ID=#{areaId}
			</if>
			<if test="hclusterId != null and hclusterId != ''  ">
				and HCLUSTER_ID=#{hclusterId}
			</if>
			<if test="type != null and type != ''  ">
				and TYPE=#{type}
			</if>
			<if test="logId != null and logId != ''  ">
				and LOG_ID=#{logId}
			</if>
			<if test="memorySize != null and memorySize != ''  ">
				and MEMORY_SIZE=#{memorySize}
			</if>
			<if test="instanceNum != null and instanceNum != ''  ">
				and INSTANCE_NUM=#{instanceNum}
			</if>
			<if test="status != null and status != ''  ">
				and STATUS=#{status}
			</if>
			<if test="deleted != null and deleted != ''  ">
				and DELETED=#{deleted}
			</if>
			<if test="createTime != null and createTime != ''  ">
				and CREATE_TIME=#{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''  ">
				and UPDATE_TIME=#{updateTime}
			</if>
			<if test="createUser != null and createUser != ''  ">
				and CREATE_USER=#{createUser}
			</if>
			<if test="updateUser != null and updateUser != ''  ">
				and UPDATE_USER=#{updateUser}
			</if>
		</trim>
	</sql>
	<sql id="Example_Page_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="params != null and params.id !=null  ">
				and ID=#{params.id}
			</if>
			<if test="params != null and params.gceName != null  and params.gceName != ''  and params.gceName != 'null'">
				and GCE_NAME like CONCAT('%',#{params.gceName},'%') escape '^'
			</if>
			<if test="params != null and params.descn != null  and params.descn != ''">
				and DESCN=#{params.descn}
			</if>
			<if test="params != null and params.areaId != null  and params.areaId != ''  ">
				and AREA_ID=#{params.areaId}
			</if>
			<if test="params != null and params.hclusterId != null  and params.hclusterId != ''  ">
				and HCLUSTER_ID=#{params.hclusterId}
			</if>
			<if test="params != null and params.type != null  and params.type != ''  ">
				and TYPE=#{params.type}
			</if>
			<if test="params != null and params.logId != null  and params.logId != ''  ">
				and LOG_ID=#{params.logId}
			</if>
			<if test="params != null and params.memorySize != null  and params.memorySize != ''  ">
				and MEMORY_SIZE=#{params.memorySize}
			</if>
			<if test="params != null and params.instanceNum != null  and params.instanceNum != ''  ">
				and INSTANCE_NUM=#{params.instanceNum}
			</if>
			<if test="params != null and params.status != null  and params.status != ''  ">
				and STATUS=#{params.status}
			</if>
			<if test="params != null and params.deleted != null  and params.deleted != ''  ">
				and DELETED=#{params.deleted}
			</if>
			<if test="params != null and params.createTime != null  and params.createTime != ''  ">
				and CREATE_TIME=#{params.createTime}
			</if>
			<if test="params != null and params.updateTime != null  and params.updateTime != ''  ">
				and UPDATE_TIME=#{params.updateTime}
			</if>
			<if test="params != null and params.createUser != null  and params.createUser != ''  ">
				and CREATE_USER=#{params.createUser}
			</if>
			<if test="params != null and params.updateUser != null  and params.updateUser != ''  ">
				and UPDATE_USER=#{params.updateUser}
			</if>
		</trim>
	</sql>
	<!-- 根据id查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from EC_GCE
		where
		ID = #{id}
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from EC_GCE
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 分页：根据条件查询 -->
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="com.letv.common.dao.QueryParam">
		select
		<include refid="Base_Column_List" />
		from EC_GCE
		<include refid="Example_Page_Where_Clause" />
		ORDER BY CREATE_TIME DESC
		<if test="page != null">
      		limit #{page.startRowPosition},#{page.recordsPerPage}
    	</if>
	</select>
	<!-- 列表总数 -->
	<select id="selectByMapCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from EC_GCE
		<include refid="Example_Where_Clause" />
	</select>
	<insert id="insert" parameterType="EcGce" useGeneratedKeys="true"
		keyProperty="id">
		insert into EC_GCE (ID, GCE_NAME, DESCN,
		AREA_ID,
		HCLUSTER_ID, TYPE,
		LOG_ID, MEMORY_SIZE, INSTANCE_NUM,
		STATUS, DELETED,
		CREATE_TIME,
		UPDATE_TIME, CREATE_USER, UPDATE_USER
		)
		values
		(#{id,jdbcType=BIGINT}, #{gceName,jdbcType=VARCHAR},
		#{descn,jdbcType=VARCHAR},
		#{areaId,jdbcType=BIGINT},
		#{hclusterId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR},
		#{logId,jdbcType=BIGINT}, #{memorySize,jdbcType=BIGINT},
		#{instanceNum,jdbcType=TINYINT},
		#{status,jdbcType=TINYINT},
		#{deleted,jdbcType=TINYINT}, now(),
		#{updateTime,jdbcType=TIMESTAMP},
		#{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT}
		)
	</insert>
	<delete id="delete" parameterType="EcGceExt" >
    delete from EC_GCE WHERE ID = #{id}
  </delete>
</mapper>